/* src/index.css */
@import "tailwindcss";

/* 4.0 유틸 샘플 */
@utility tab-4 {
  tab-size: 4;
}
@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* iOS safe-area 하단 패딩 */
@utility safe-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom));
}

/* 플래시카드 애니메이션 추가 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateY-180 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.rotateY-180 {
  animation: rotateY-180 0.15s ease-in-out;
}
